name: Validating and testing code

on:
    push:
        branches:
            - 'main'
    pull_request:
        branches:
            - '**'

jobs:
    Validating:
        strategy:
            matrix:
                node-version: ['20.x']
        runs-on: ubuntu-latest
        if: "!contains(github.event.head_commit.message, '[ci skip]')"
        steps:
            - name: Checkout
              uses: actions/checkout@v3

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node-version }}

            - name: Setup dependencies
              run: npm ci

            - name: Linting
              run: npm run lint

            - name: Spelling
              run: npm run spell

            - name: Testing
              run: npm run test:coverage

            - name: Coverage
              uses: irongut/CodeCoverageSummary@v1.3.0
              with:
                  filename: coverage/cobertura-coverage.xml
                  badge: true
                  fail_below_min: true
                  format: markdown
                  output: both
                  thresholds: "60 80"

            - name: Adding Coverage PR Comment
              uses: marocchino/sticky-pull-request-comment@v2
              if: github.event_name == 'pull_request'
              with:
                recreate: true
                path: code-coverage-results.md
