name: Automatically create / update pull request

on:
    push:
        branches-ignore:
            - 'mains'

permissions:
    pull-requests: write

jobs:
    pull_request:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Extracting branch name
              shell: bash
              run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
              id: extract_branch
            - name: Create pull request
              id: open-pr
              uses: repo-sync/pull-request@v2
              with:
                  destination_branch: "main"
                  pr_title: "${{ steps.extract_branch.outputs.branch }}"
                  pr_template: ".github/pull_request_template.md"
                  #pr_reviewer: "${{ github.actor }}"
                  pr_draft: false
